name: Deploy Telegram Bot (Podman)

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  CONTAINER_NAME: telegram-bot

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Set up WARP
        uses: fscarmen/warp-on-actions@v1.1
        with:
          stack: dual

      - name: Deploy via Native SSH
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > private_key
          chmod 600 private_key

          ssh -i private_key -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} << 'EOF'
            echo "${{ secrets.GITHUB_TOKEN }}" | podman login ${{ env.REGISTRY }} -u ${{ github.actor }} --password-stdin
            podman pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            
            podman stop ${{ env.CONTAINER_NAME }} || true
            podman rm ${{ env.CONTAINER_NAME }} || true

            mkdir -p /home/${{ secrets.SERVER_USER }}/apps/tg-bot
            
            podman run -d \
              -v /home/${{ secrets.SERVER_USER }}/apps/tg-bot/data:/app/data \
              --name ${{ env.CONTAINER_NAME }} \
              --network host \
              --env-file /home/${{ secrets.SERVER_USER }}/apps/tg-bot/.env \
              --restart always \
              ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
              
            podman image prune -f
          EOF

          rm private_key